#q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ ~
+	
6



Ans: 
#1. * = This is operator and thus we can say it an expression.
#2. 'hello' = This is string
#3. -87.8 = This is value
#4. - = This is operator and thus we can say it an expression.
#5. / = This is operator and thus we can say it an expression.
#6. + = This is operator and thus we can say it an expression.
#7. 6 = This is value

#q2. What is the difference between string and variable?

Ans: String: it is a characters, it can be an alphabetic character or an integer, it always comes in a '___'
Variable: it is an entity which stores the data.

#q3. Describe three different data types.

Ans: Three different data types are:

1. integer = digits
2. variable = an entity which stores the data.
3. list = a collection of a data.

#q4. What is an expression made up of? What do all expressions do?

Ans: Expression is made up of variable, operator and method invocations. expressions executes the method and give us a single value in the end.

#q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: in spam = 10, no execution of any method is happening and so it is not an expression but an statement. The difference between the expression and statement is that expression always gives us a single value in the end whereas in the statement it is not required, it can be just a simple written elements without any execution.

#q6.  After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [13]:
bacon = 22
bacon + 1

23

#q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [14]:
'spam' + 'spamspam'

'spamspamspam'

In [15]:
'spam' * 3

'spamspamspam'

#q8. Why is eggs a valid variable name while 100 is invalid?

Ans: because of its type. you cannot assign a value to any integer or any special characters. in this case eggs is an alphabetic element which you can assign value to.

In [16]:
100 = 200

<class 'SyntaxError'>: cannot assign to literal (<ipython-input-16-3832217524d9>, line 1)

In [18]:
eggs= 25

#q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: int(), float() and str() will be used to achieve the condition.

In [29]:
i = '36545'
int(i)

36545

In [30]:
i = 65.32

In [31]:
float(i)

65.32

In [32]:
i = 2564855
str(i)

'2564855'

#q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: You cannot add two different data types, in this case 99 is a string value, thus first we need to change the type of 99 into string type, and than perform a task.

In [41]:
'i have eaten ' + str( 99)  + ' burritos'

'i have eaten 99 burritos'